/*DOCUMENTO CSS*/

* { margin: 0;
    /*padding: 0;*/}

body {background-color: rgb(253, 211, 232);}

h1 {background-color: rgb(240, 145, 175);
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    padding: 30px 15px 30px 15px;
    margin-bottom: 20px;}

/*p {color: rgb(227, 0, 121);}*/

.contenido {color: rgb(227, 0, 121);}

.atencion {color: black;}

.contenido > p {color: rgb(142, 88, 133);}

section.contenido p {color: rgb(0, 160, 35);
    padding: 20px 0px;}

#warning /*mas especifico que class*/ {color: cornflowerblue;
    line-height: 1.5;
    text-align: justify;
    font-weight: bold;
    font-size: 1.3em;
    background-color: whitesmoke;} 
    
.listas {margin: 20px 0px;}



