/*DOCUMENTO CSS*/

* { margin: 0;
    padding: 0;}

div, header, section, nav, article, footer, aside { box-sizing: border-box; }

.flex-container {display: flex;
                 flex-flow: column wrap;
                 width: 100%;
                 background-color: bisque;
                 padding: 15px;}

.item { width: 100%;
        min-height: 200px;
        text-align: center;
        color: black;
        font-size: 10em; }

/*Media Queries - Pantallas mayores a 600px*/

@media only screen and (min-width:600px) {

    .item {color: rgb(139, 43, 43);
            background-color: rgb(255, 185, 185);
            margin-bottom: 15px;}

}

/*Media Queries - Pantallas mayores a 778px*/

@media only screen and (min-width:778px) {

    .item {color: rgb(43, 77, 139);}

}

/*Media Queries - Pantallas mayores a 1280px*/

@media only screen and (min-width:1280px) {

    .flex-container {flex-flow: row wrap;
                     width: 40%; 
                     margin: auto;
                     background-color: transparent;}


    .item {color: rgb(81, 120, 194);
           background-color: transparent;
            width: 33.33%;}

}