/*DOCUMENTO CSS*/

* {margin: 0;
    padding: 0;}


body {margin: 20px;
        /*padding: 0em 10em;*/
        padding: 0px 15%;
        background-color: rgb(235, 255, 239);
        max-width: 100%;}

hr {height: 3px;
    background-color: rgb(74, 176, 94);
    border: none;}

h1 {text-align: center;
    color: green;
    font-family: 'Krub', sans-serif;
    font-size: 3em;
    font-weight: 700;
    padding: 20px 0px;
    padding-bottom: 0px;}

small {font-family: 'Inclusive Sans', sans-serif;
        text-align: center;
        display: block;
        color: rgb(100, 160, 100);
        padding-bottom: 10px;
        font-size: 1em;}

h3 {text-align: left;
    font-family: 'Krub', sans-serif;
    font-size: 1.7em;
    padding: 20px 0px 10px 0px;
    color: rgb(61, 124, 67);}

.cuerpo {background-color: rgb(246, 255, 248);
        background-clip: padding-box;
        padding: 15px;}

p {text-align: justify;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 20px 0px;}

img {display: block;
    max-width: 100%;
    width: 70em;
    margin-left: auto;
    margin-right: auto;}

.cabecera img {width: 4em;
                display: block;
                margin-left: auto;
                margin-right: auto;}

.pie, .pie p {text-align: center;
              display: block;
              line-height: 0.3em;
              background-color: rgb(189, 227, 189);
              padding-bottom: 10px;}