/*DOCUMENTO CSS*/

* {margin: 0;
   padding: 0;}

body {background-color: white;
      font-family: 'Roboto', sans-serif;}

.container {display: flex;
            flex-wrap: wrap;
            width: 60em;
            height: 10em;
            column-gap: 20px;
            row-gap: 30px;
            padding: 3em 3em;}

h1 {font-size: 1.4em;}

svg { width: 25px;
      height: 25px;
      align-self: flex-end;}

.item img { object-fit: contain;
            max-width: 300px;}

.item.titulo {align-self: center; 
              width: 100%;
              display: flex;}

small {align-self: center;
       padding-left: 10px;}

.item { align-self: flex-end;}